
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.959);
    height: 100vh;
}

.interface{
    max-width: 1080px;
    margin: 0 auto;
    font-size: 30px;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 30px;
    font-weight: 800;
    background-color: #0066ffe0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #fff;
    transform: scale(1.1);
}

h2.titulo{
    color: white;
    font-size: 50px;
    text-align: center;
}
h2.titulo span{
    color: #1900ff;
}

/*CABEÇALHO*/

header{
    padding: 40px 4% ;
}


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(121, 121, 121);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.3);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



/*Topo do Site*/

section.topo-do-site{
    padding: 40px 4%;
    margin-top: -60px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 70px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #1900ff;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
    font-size: 30px;
    margin-top: 0px;

}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: navegar 2s ease-in-out infinite alternate;
    border-radius: 300px;   
}

@keyframes navegar{
    0%{
        top: 0;
    }
    100%{
        top: 20px;
    }
}

/*PONTOS FORTES*/

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.623);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #1900ff;
}

.especialidades .especialidades-box h3{
    font-size: 30px;
    margin: 5px 0;
}

/*SOBRE*/

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
   color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #1900ff;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #1900ff;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

/*portifólio*/

section.portifolio{
    padding: 40px 4%;
}

section.portifolio .flex{
    justify-content: center;
    text-decoration: none;

}

.portifolio .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    cursor: pointer;
}

.portifolio .especialidades-box:hover{
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.623);
}

.portifolio .especialidades-box i{
    font-size: 70px;
    color: #1900ff;
    align-items: center;
}

.portifolio .especialidades-box h3{
    font-size: 30px;
    margin: 5px 0;
}

/* RODAPÉ */

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #1900ff;
}

footer .line-footer p i{
    color: #1900ff;
    font-size: 22px;
}

footer .line-footer p a{
    color: white;
    text-decoration: none;
}

